<div class="col-xs-12 col-sm-12 col-md-push-3 col-md-6 text-center" id="search">
	<div class="section-wrapper">
		<div class="input-group" style="width:100%">
			<input type="text" class="form-control" id="google-search" name="q" placeholder="Google Search" tabindex="0" autofocus="on" />
			<div class="input-group-addon">
				<i class="glyphicon glyphicon-search"></i>
			</div>
			<p class="text-info hidden">
				<span id="final_span"></span>
				<span id="inter_span"></span>
			</p>
		</div>
	</div>
</div>
