<div class="col-xs-12 col-sm-6 col-md-3 text-center" id="weather">
	<div class="section-wrapper">
		<div class="row">
			<div class="col-xs-12">
				<h2>
					<i id="temp-icon" class="icon-32"></i>
					<span id="temp-zone">_</span> &deg; C
				</h2>
			</div>
		</div>
		<a href="#" class="hidden" id="weather-geoloc">
			Use your location
		</a>
	</div>
</div>
