<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta autor="LeNiglo" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/search.css" />
	<link rel="stylesheet" href="/stylesheets/clock.css" />
	<link rel="stylesheet" href="/stylesheets/weather.css" />
</head>
<body>
	{{{ body }}}
	{{> modals }}
	<script data-main="/javascripts/app.js" src="/javascripts/require.js"></script>
</body>
</html>
