html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background: url(../img/bg2.png);
	background-color: #fefefe;
	margin: 0;
	padding: 0;
	padding-top: 70px !important;
}

#clock #time_zone {
	font-family: 'Helvetica Neue', 'Ubuntu', 'Verdana', 'Arial', sans-serif;
	font-size: 120px;
	/*
	font-family: 'digital', 'Consola', serif;
	font-size: 75px;
	*/
}
#clock #date_zone {
	font-family: 'riot', 'Ubuntu', 'Verdana', 'Arial', sans-serif;
}
/* Setting good padding, margin, height for main blocs */
#clock {
	padding-bottom: 75px;
}
#weather {
	padding-top: 50px;
}
#news {
	min-height: 500px;
	max-height: 800px;
}
#todos {
	min-height: 300px;
	max-height: 500px;
}
#links {
	min-height: 150px;
	max-height: 300px;
}
.hidden{display:none;}
.page-header {
	font-family: 'Ubuntu', 'Verdana', 'Arial', sans-serif;
	border-color: #333;
}
input, select, textarea, label {
	margin-top: 7px;
}

/* PlaceHolders for Google Search */
#g_search::-webkit-input-placeholder{text-align:right;color:#777;}
#g_search::-moz-placeholder{text-align:right;color:#777;}/* Firefox 19+ */
#g_search:-moz-placeholder{text-align:right;color:#777;}/* Firefox 18- */
#g_search:-ms-input-placeholder{text-align:right;color:#777;}

@font-face {
	font-family: 'digital';
	src: url('../fonts/digital-7.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'riot';
	src: url('../fonts/lolfont.woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-L.ttf');
	font-weight: normal;
}
